<div class="row align-items-baseline">
    <span class="page_title mb-4">Fiscal managment</span>
    <span class="page_sub text-secondary"><i class="nc-icon nc-minimal-right text-dark font-weight-bold mt-2"></i> Contract managment</span>
</div>



<div class="secondrow">
    <div class="d-flex flex-row">
        <button class="filterbtn mr-2"><img src="assets/img/icons/filter.svg" alt="" class="mr-1"> <span class="mr-3">Filter</span></button>
        <div class="input-group no-border">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split search-icon"></i>
              <i class="nc-icon nc-minimal-down down-icon"></i>
            </div>
            <input type="text" value="" class="form-control" placeholder="Search :" style="width: 402px;">
          </div>
        </div>
    </div>

    <div id="tabs">
        <ul class="nav nav-tabs" id="user-nav-tabs">
            <li role="presentation" class="active"><a  class="#c1">All Contracts</a></li>
            <li role="presentation"><a  class="#c2">Contractors</a></li>
        </ul>
    </div>
</div>

<div id="content">
    <div id="content1">
        <table class="table table-borderless" id="contractTable">
            <thead>
              <tr>
                <th><input type="checkbox" value="Bike"></th>
                <th>#</th>
                <th class="text-gre">Title</th>
                <th class="text-gre">FEC ID</th>
                <th class="text-gre">Contractors</th>
                <th class="text-gre">Budget</th>
                <th class="text-gre">MDA</th>
                <th class="text-gre">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>1</td>
                <td>Citizen Budget of Continuity	</td>
                <td>FEC 221</td>
                <td>lorem epsium</td>
                <td>₦1.96T</td>
                <td>MSDIA</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div id="content2">
        <table class="table table-borderless" id="contractorsTable">
            <thead>
              <tr>
                <th><input type="checkbox" value="Bike"></th>
                <th class="text-gre">Name</th>
                <th class="text-gre">State</th>
                <th class="text-gre">RCC Number</th>
                <th class="text-gre">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
              <tr>
                <td><input type="checkbox" value="Bike"></td>
                <td>lorem epsium</td>
                <td>Akwa Ibom State</td>
                <td>123343</td>
                <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>