<div class="row justify-content-end">
  <div class="d-flex flex-row">
    <button class="add-button align-items-center d-flex mr-3" data-toggle="modal" data-target="#createuserModal">
      <img src="assets/img/icons/plusadd.svg" alt="">Create user</button>
    <button class="add-button align-items-center d-flex mr-3" style="background: #36A9B0;" data-toggle="modal" data-target="#createmdaModal">
        <img src="assets/img/icons/blueplus.svg" alt="">
        Add MDA
    </button>
    <button class="align-items-center requstbtn mr-3">
      Request For Report
    </button>
  </div>
</div>

<div class="row">
  <span class="page_title mb-4">System Setting</span>
</div>

<div class="d-flex flex-row">
  <button class="filterbtn mr-2"><img src="assets/img/icons/filter.svg" alt="" class="mr-1"> Filter</button>

  <div class="input-group no-border">
    <div class="input-group-append">
      <div class="input-group-text">
        <i class="nc-icon nc-zoom-split search-icon"></i>
        <i class="nc-icon nc-minimal-down down-icon"></i>
      </div>
      <input type="text" value="" class="form-control" placeholder="Search :">
    </div>
  </div>
</div>

<div id="helptabs">
  <ul class="nav nav-tabs" id="user-nav-tabs">
    <li role="presentation" class="active"><a  class="#c1">All System Users</a></li>
    <li role="presentation"><a  class="#c2">Roles & Permissions</a></li>
    <li role="presentation"><a  class="#c3">Login Settings</a></li>
    <li role="presentation"><a  class="#c4">Calendar Year Settings</a></li>
    <li role="presentation"><a  class="#c5">Help</a></li>
  </ul>
</div>

<div id="content">
  <div id="content1">
    <table class="table table-borderless" id="settingstable">
      <thead>
        <tr>
          <th><input type="checkbox" value="Bike"></th>
          <th>#</th>
          <th>Title</th>
          <th class="text-gre">Role</th>
          <th class="text-gre">MDA</th>
          <th class="text-gre">Email</th>
          <th class="text-gre">Phone</th>
          <th class="text-gre">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>CDCU Access	</td>
          <td>stackholder</td>
          <td>FMA</td>
          <td>cdcu@sgfpms.ng</td>
          <td>07012474027</td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="content2">
    <table class="table table-borderless">
      <thead>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td class="font-weight-bold">#</td>
          <td class="font-weight-bold">Role</td>
          <td class="text-gre">Assigned Permissions</td>
          <td class="text-gre">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>stackholder</td>
          <td><span class="pills" style="background: #24BDC7;">DB</span></td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>MDA</td>
          <td><span class="pills" style="background:  #16C35B;">PM</span>
              <span class="pills" style="background: #FF9900;">REP</span>
              <span class="pills" style="background: #24BDC7;">DB</span>
          </td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>Admin</td>
          <td>
            <span class="pills" style="background:   #C93126;">RT</span>
            <span class="pills" style="background:  #8B83BA;">REP</span>
            <span class="pills" style="background:  #16C35B;">PM</span>
            <span class="pills" style="background:  #6C757D;">ST</span>
            <span class="pills" style="background: #FF9900;">REP</span>
            <span class="pills" style="background: #24BDC7;">DB</span>
        </td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Bike"></td>
          <td>1</td>
          <td>Desk Officer</td>
          <td>
            <span class="pills" style="background:   #C93126;">RT</span>
            <span class="pills" style="background:  #8B83BA;">REP</span>
            <span class="pills" style="background:  #16C35B;">PM</span>
            <span class="pills" style="background:  #6C757D;">ST</span>
        </td>
          <td><a><img src="assets/img/icons/more.svg" alt=""></a></td>
        </tr>
      </tbody>
    </table>
    <div class="row mt-3">
      <div class="settingsfooter mt-5">
        <span class="pill2" style="background:   #C93126;">RT</span>
        Result Trees
        <span class="pill2" style="background:  #8B83BA;">REP</span>
        Reports
        <span class="pill2" style="background:  #16C35B;">PM</span>
        Product Manager
        <span class="pill2" style="background:  #6C757D;">ST</span>
        Settings
        <span class="pill2" style="background: #FF9900;">REP</span>
        Perfomance Reports/Reports
        <span class="pill2" style="background: #24BDC7;">DB</span>
        Dashboard
      </div>
    </div>
  </div>

  <div id="content3">
    <div class="loginsettings">
      <div class="head">
        Login Setting
      </div>
      <div class="body">
        <label for="">User name</label>
        <input type="text" placeholder="OSGF Admin" class="form-control">
        <label for="">Password</label>
        <input type="password" class="form-control">
        <label for="">Email</label>
        <input type="text" placeholder="Admin@sgfpms.ng" class="form-control">
        <button class="btn btn-sm">Save</button>
      </div>
    </div>
  </div>
  <div id="content4">
    <div class="loginsettings">
      <div class="head">
        Calender Your Settings
      </div>
      <div class="body">
        <div>
          <input type="radio" name="year">
          <label for="">2021</label>
        </div>
        <div>
          <input type="radio" name="year">
          <label for="">2020</label>
        </div>
        <div>
          <input type="radio" name="year">
          <label for="">2019</label>
        </div>
        <button class="btn btn-sm mt-4" style="width: 150px;">Set calender year</button>
      </div>
    </div>
  </div>
  <div id="content5">
    <div class="loginsettings">
      <div class="head">
        Help
      </div>
      <div class="body">
        <a href="">Terms & condition</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="createuserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
      </div>
      <div class="modal-body d-flex flex-column">
        <label for="">Enter User's full name</label>
        <input type="text">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column">
            <label for="">Enter User's Email</label>
            <input type="text" placeholder="lorem@gmail.com">
            <label for="">Select User's role</label>
            <select name="" id="">
              <option value="" selected>Admin</option>
              <option value="">User</option>
            </select>
          </div>
          <div class="col-lg-6 d-flex flex-column">
            <label for="">Enter User's Phone</label>
            <input type="text" placeholder="8086543445">
            <label for="">Select User's ministry</label>
            <select name="" id="" placeholder="Select">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="footer">
          <button class="cancel">Cancel</button>
          <button class="submit">Submit</button>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="createmdaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adding New Ministry</h5>
      </div>
      <div class="modal-body d-flex flex-column p-5">
        <label for="">Name Of MDA</label>
        <input type="text">

        <label for="">MDA Shortcode</label>
        <input type="text">

        <div class="footer">
          <button class="cancel">Cancel</button>
          <button class="submit">Submit</button>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>